<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
              <div class="col-xs-2 col-xs-offset-4">
                <%= link_to materials_path, class: "btn btn-primary btn-sm btn-block" do %>
                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4 text-left"><strong>Product</strong></div>
            <div class="col-xs-6">
              <div class="col-xs-2"><strong>Price</strong></div>
              <div class="col-xs-4"><strong>Quantity</strong></div>
              <div class="col-xs-2"><strong>Subtotal</strong></div>
              <div class="col-xs-2"></div>
            </div>
          </div>
          <hr/>
        </div>
        <% @resources.map do |item| %>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2"><img class="img-responsive" src="<%= item.material.image.url %>">
              </div>
              <div class="col-xs-4">
                <h4 class="product-name"><strong><%= item.material.name %></strong></h4><h4><small><%= item.material.description %></small></h4>
              </div>
              <div class="col-xs-6">
                <div class="col-xs-2">
                  <h6><strong><%= "#{item.price.currency.html_entity} #{item.price.to_f}" %></strong></h6>
                </div>
                <div class="col-xs-4 text-right">
                  <input type="text" class="form-control input-sm" disabled value="<%= item.quantity %>">
                </div>
                <div class="col-xs-2">
                  <h6><strong><%= item.subtotal %></strong></h6>
                </div>

                <div class="col-xs-2">
                  <%= link_to shopping_cart_path(id: item.material.id), method: :delete, class: "btn btn-link btn-xs" do %>
                      <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </div>
              </div>
            </div>
            <hr>
          </div>
        <% end %>
        <div class="row text-center">
          <div class="col-md-2 col-xs-offset-8 text-center margin-bottom-10">
            <strong>Total <%= "#{@shopping_cart.total.currency.html_entity} #{@shopping_cart.total.to_f}" %></strong>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-2 col-xs-offset-8">
              <%= link_to 'Cancel', shopping_cart_cancel_path, class: "btn btn-danger btn-block" %>
            </div>
            <div class="col-md-2">
              <%= form_tag @current_session.add_resource_callback_url, authenticity_token: false do %>
                  <%= hidden_field_tag :params, @resources.map(&:material).to_json %>
                  <%= submit_tag 'Approve', class: "btn btn-success btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
