<div class="container">
  <div class="row">
    <% @materials.each_slice(3) do |group| %>
        <% group.each do |material| %>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="<%= material.image.url(:standard_resolution) %>" />
                <div class="caption text-center">
                  <h3><%= material.name %></h3>
                  <p><%= material.description %></p>
                  <% if user_sign_in? %>
                  <p>
                    <%= link_to 'VIEW DETAILS', material_path(id: material.id, page: params[:page]), class: "btn btn-info", role: "button" %>
                    <%= link_to 'ADD TO CART',shopping_cart_path(id: material.id), method: :post, class: "btn btn-success add-to-cart" %>
                  </p>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
  <!-- pagination -->
  <div class="col-md-12 text-center">
    <%= will_paginate @materials, renderer: BootstrapPagination::Rails %>
  </div>
</div>
